doctype 5
html
	head
		block title
		
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		style
			body, input { }

		script(type='text/javascript', src='//code.jquery.com/jquery-1.10.2.min.js')
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
	body
		block header
		block content
		block footer
